#cart {
    position: relative;
    /* border: solid 2px #FFFFFF; */
    /* border-radius: 5px; */
    padding: 3px;
    transition: .3s ease-in-out;;
}
#cart-icon {
    cursor: pointer;
}
/* #cart-icon:hover {
  border-color: #5ECE7B;
} */
#cart-counter {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 13px;
    left: 13px;
}
#cart-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    right: -30px;
    width: 325px;
    height: fit-content;
    max-height: 500px;
    transition: .3s ease-in-out;
    background-color: white;
    z-index: 1;
    padding: 32px 16px;
}
#cart-overlay > .empty {
    margin: 20px 0;
    text-align: center;
}
#cart-overlay > .items {
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    overflow: auto;
    overflow-x: hidden;
}
.cart-item {
    display: flex;
    flex-direction: row;
    width: calc(100% - 32px);
    margin-top: 40px;
}
.cart-item:first-child {
    margin-top: 0;
}
.cart-item > .main-info {
    display: flex;
    flex-direction: column;
    min-width: 136px;
    height: fit-content;
}
.cart-item > .main-info > span,
.cart-item > .main-info > strong {
    margin-bottom: 10px;
}
.cart-item .quantity {
    display: flex;
    flex-direction: column;
    margin: 0 6px;
    height: inherit;
    align-items: center;
    justify-content: space-between;
}
.cart-btn {
    cursor: pointer;
    padding: 0 7px;
    border: solid 1px black;
    transition: 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn:hover {
    background-color: black;
    color: white;
}
.cart-item > .preview {
    width: 120px;
    object-fit: contain;
}
.c-attr {
    margin: 8px 0;
}
.c-attr:last-child {
    margin-bottom: 0;
}
.c-items {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
.c-items .c-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    border: solid 1px black;
}
.c-items .c-item:first-child {
    margin-left: 0;
}   
.c-items .c-item.text {
    min-width: 24px;
    min-height: 24px;
    padding: 0 2px;
}
.c-items .swatch {
    width: 20px;
    height: 20px;
    border-color: white;
    background-color: #ededed;
}

#cart-overlay > .total-cost {
    display: flex;
    justify-content: space-between;
}

#cart-overlay > .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
#cart-overlay > .btns .cart-btn {
    width: 140px;
    height: 43px;
    text-decoration: none;
    color: black;
}
#cart-overlay > .btns .cart-btn:hover {
    color: white;
}
#cart-overlay > .btns .cart-btn:nth-child(2) {
    background-color: #5ECE7B;
    border-color: #5ECE7B;
    color: white;
}
